#rps-game{
  width: 80%,
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px ;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center; /* Center the game content */
}

#game-info{
  width: 80%,
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px ;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center; /* Center the game content */
}

#results{
  width: 80%,
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px ;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center; /* Center the game content */
}